/*Opmaak toolbar en tabbar, algemeen op alle pagina's.*/
:root {
    --ion-tab-bar-background: rgb(0, 170, 162);
    --ion-tab-bar-color: rgb(92, 201, 195);
    --ion-tab-bar-color-selected: rgb(249,249,249);
    --ion-toolbar-background: rgb(41,52,57);
    --ion-toolbar-color: rgb(249,249,249);
}

/*Opmaak cards, gebruikt in de 4 componenten Afgerond.vue, Instellingen.vue, Kennisbase.vue en Toegewezen.vue.*/
.card {
    display: flex;
    flex-direction: column;
    height: 325px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px lightgrey;
    text-decoration: none;
  }

  .icon {
    font-size: 75px;
    color: rgb(41,52,57);
  }
  
  p {
    margin: 20px 0 0 0;
    font-size: 24px;
    font-weight: bold;
    color: rgb(41,52,57);
  }