/*Opmaak cards, gebruikt in de 4 componenten Afgerond.vue, Instellingen.vue, Kennisbase.vue en Toegewezen.vue.*/
.card {
  display: flex;
  flex-direction: column;
  height: 325px;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px lightgrey;
  text-decoration: none;
}

.icon {
  font-size: 75px;
  color: rgb(41,52,57);
}
  
h1, h2, h3, h4, h5, h6, p {
  color: rgb(41,52,57);
}

p {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: normal;
}

h1 {
  margin: 20px 0;
}

h2 {
  margin: 20px 0;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}
