/* HTML elements */
p {
  margin: 0 0 20px 0;
  font-size: 1.25rem;
  font-weight: normal;
}

h1 {
  margin: 1.25rem 0;
}

h2 {
  margin: 1.25rem 0;
  color: var(--ion-color-firstcolor);
}

hr {
  margin: 1em auto;
  border-top: 1px solid var(--ion-color-firstcolor);
}

/* Ionic elements */
ion-content {
  --padding-start: 1.25rem;
  --padding-end: 1.25rem;
}

ion-toggle {
  --track-background-checked: var(--ion-color-firstcolor);
}

/* Classes */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--ion-card-background);
  box-shadow: var(--ion-card-box-shadow);
  text-decoration: none;
}

.icon {
  font-size: 4.6875rem;
  color: var(--ion-text-color);
}

.visibleButton {
  --background: var(--ion-color-firstcolor);
  --background-activated: var(--ion-color-firstcolor);
  --background-focused: var(--ion-color-firstcolor);
}

.cardHeader {
  color: var(--ion-text-color);
}