/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/*Opmaak toolbar en tabbar, algemeen op alle pagina's.*/
:root {
    --ion-tab-bar-background: rgb(0, 170, 162);
    --ion-tab-bar-color: rgb(92, 201, 195);
    --ion-tab-bar-color-selected: rgb(249,249,249);
    --ion-tab-bar-border: 0px;
    --ion-toolbar-background: rgb(41,52,57);
    --ion-toolbar-color: rgb(249,249,249);
}
